# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
background_color    0.97 0.97 0.97
dark_mode_background_color    0.0 0.0 0.0

zoom_inc_factor         1.08
# The command to use when trying to do inverse search into a LaTeX document. Uncomment and provide your own command.
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command 		"C:\path\to\vscode\Code.exe" -r -g %1:%2

## Semicolon-separated list of command to execute upon sioyek startup
# startup_commands    toggle_visual_scroll;toggle_dark_mode
startup_commands    toggle_visual_scroll

# If set, we highlight the current line in visual_scroll_mode by masking above and below the current line
# if not set, we only mask below the line
ruler_mode 1

# Additional ruler padding
ruler_padding 1.0
ruler_x_padding 5.0

